{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block title %}About{% endblock%}
{% block body %}
    <header>
        <h1>About</h1>
    </header>
    <article>
        <p>I spoil many choices when it comes to choosing Children’s books. There are so many fantastic new books coming out each year but sometimes, when faced with so much choice, it’s difficult to know where to start.</p>
        <p> Every child is unique in their interests, reading level and access to books, so how do you find out which books will be devoured and which will remain forever unfinished?</p>
        <p> I am always busy and sometimes there just isn’t time to research, read and ask for recommendations as much as I’d like to. Book Review aims to solve this problem for children aged from 0 to 14. Whether you’re a busy parent, a generous grandparent or a baffled auntie, I want to become THE place where children and parents recommend the very best books to each other.</p>
        <p> Every book review on BookReview.com is helping children, parents, grandparents, librarians and booksellers, discover the very best books for children.</p>
        <p> It doesn’t matter if you loved the book or hated it, I just want your honest opinion! Launched by Shahbaaz Khan in January 2019, as to many mothers out there, they realise how hard it was to find books that were age and reading-level appropriate.</p>
        <p> Determined to provide other parents and children with an easier way to find great books, BookReview.com was launched from the University of Salford. After launching initially on Facebook and getting such a phenomenal response from our fans, I knew we were onto to something special.</p>
        <p>   This website is powered by Univeristy of Salford! So a big thank you to the children, parents, teachers and grandparents who submit reviews each and every day. </p>
          <p>  This is your community and I love reading your reviews. The giveaways help readers discover new books and new authors, so if you’re a publisher, author or agent and would like to submit your book for a giveaway, please fill in the form here: https://www.bookreview.com/s/title_giveaway You can also drop us a line at info@bookreview.com though I may need time to respond.</p>
    </article>
{% endblock %}