{# src/Blogger/BlogBundle/Resources/views/Blog/create.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block title %}Create a blog bookreview{% endblock %}
{% block body %}
    <h1>Review a Book</h1>
    {{ form(form) }}
{% endblock %}
